[Unit]
Description=LaundryAlarm
After=multi-user.target

[Service]
Type=idle
User=pi
Group=pi
StandardOutput=null
StandardError=null
WorkingDirectory=/home/pi/LaundryAlarm
ExecStart=/usr/bin/python /home/pi/LaundryAlarm/main.py

[Install]
WantedBy=multi-user.target
